---
import BaseLayout from './BaseLayout.astro'
import '../styles/global.css'

const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
    <div>
        <h2>
            {frontmatter.title}
        </h2>
        <div class="flex">
            <span>
                Written by: {frontmatter.author} -
                Published: {frontmatter.pubDate.toString().split('T')[0]}
            </span>
            <img class="blog-img" src={frontmatter.image.url} alt={frontmatter.image.alt}>
        </div>
        <div>
            <h2>
                Content:
            </h2>
            <p>
                {frontmatter.description}
            </p>
        </div>
        <h2>
            Tags:
        </h2>
        <div class="links">
            {frontmatter.tags.map((tag) => {
                return <p><a href={'/tags/'+tag} >{tag}</a></p>
            })}
        </div>
    </div>
</BaseLayout>

<style>
    .blog-img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: left;
    }

    .flex{
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }
    .tags{
        display: flex;
        gap: 10px;
    }

    .links{
        display: flex;
        flex-direction: column;
    }
    a{
        color: #00539F;
        text-decoration: none;
    }
    p{
        line-height: 1;
    }
</style>